fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-huggingface
sentence-transformers
python-dotenv
requests
pandas
beautifulsoup4
lancedb
pyarrow
langchain-text-splitters
urllib3
tantivy
fastapi
uvicorn
streamlit
langgraph 
langchain-core 
pydantic
finance-datareader